body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: yellow;
}

header {
    background-color: yellow;
    color: #fff;
    padding: 10px 0px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px; 
}

.logo { 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
     margin-left: 50px;
}

.logo a { 
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-family: sans-serif; 
    font-weight: 900; 
    margin-left: 3px; 
    transition: 500ms;
}

.logo a span {
    color:orangered;
    transition: 500ms;
}

.logo a:hover {
    color: #ff8a1d;
    transition: 800ms;
}

.logo a:hover span {
    color: #000; 
    transition: 800ms;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: yellow;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.section-background {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    background: url("pictures/lenggong-1.jpg") no-repeat center center/cover;
}

.food {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.food-article {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding: 20px; 
    width: 80%;
    border-radius: 8px;
}

.food-article section {
    margin-bottom: 20px;
}

.food-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.food-item {
    background-color: rgb(247, 247, 129);
    color: black;
    display: flex;
    padding: 20px;
    text-align: left;
    width: 80%;
    border-radius: 10px;
}

.food-item img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.food-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.food-item a {
    display: block;
    color: blue;
    text-decoration: underline;
}

.food-item a:hover {
    text-decoration: underline;
}

footer .container {
    text-align: center;
    background-color: yellow;
    color: black;
    padding: 0px 0;
    border-radius: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

footer p {
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}